<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/resources/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,364},{111,62}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,76}</string>
			</dict>
			<key>common/resources/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1},{292,88}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,88}</string>
			</dict>
			<key>common/resources/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,295},{292,88}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,88}</string>
			</dict>
			<key>common/resources/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1},{290,88}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,88}</string>
			</dict>
			<key>common/resources/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,293},{290,88}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,88}</string>
			</dict>
			<key>common/resources/bt_diss_agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,329},{222,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,88}</string>
			</dict>
			<key>common/resources/bt_diss_refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,329},{222,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,88}</string>
			</dict>
			<key>common/resources/diss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{280,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,88}</string>
			</dict>
			<key>common/resources/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,543},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,37}</string>
			</dict>
			<key>common/resources/im_userhead0.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,410},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>common/resources/layer.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1},{361,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,40}</string>
			</dict>
			<key>common/resources/layer2.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1},{357,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{357,32}</string>
			</dict>
			<key>common/resources/layer3.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,477},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>common/resources/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,553},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,44}</string>
			</dict>
			<key>common/resources/playerinfo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{770,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{772,327}</string>
			</dict>
			<key>common/resources/sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,553},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,44}</string>
			</dict>
			<key>common/resources/bt_choose_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,329},{215,81}}</string>
				<key>offset</key>
				<string>{-19,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,81}</string>
			</dict>
			<key>common/resources/bt_choose_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,329},{253,80}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,81}</string>
			</dict>
			<key>common/resources/bt_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,410},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>common/resources/bt_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,503},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>common/resources/btn_canceltrust.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,329},{236,79}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,81}</string>
			</dict>
			<key>common/resources/bt_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,329},{280,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>resources.png</string>
			<key>realTextureFileName</key>
			<string>resources.png</string>
			<key>size</key>
			<string>{1024,610}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>610</integer>
		</dict>
	</dict>
</plist>